* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#example_1_Div_1 {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: aqua;
    margin: auto;
}

#example_1_Div_2 {
    position: relative;
    height: 50px;
    width: 200px;
    background-color: aqua;
    margin: auto;
}

#example_1_Div_3 {
    position: relative;
    height: 200px;
    width: 50px;
    background-color: aqua;
    margin: auto;
}

.spanTd {
    width: 30px;
    text-align: left;
}

.textTd {
    width: 30px;
    text-align: right;
}