* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik One', sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
}

h2, h1 {
    text-align: center;
    padding-top: 10px;
}

#exampleDiv_1 {
    position: relative;
    height: 150px;
    width: 150px;
    margin: auto;
}

#exampleDiv_2 {
    position: relative;
    height: 50px;
    width: 200px;
    margin: auto;
}

#exampleDiv_3 {
    position: relative;
    height: 200px;
    width: 50px;
    margin: auto;
}

.example{
    position: relative;
    height: 150px;
    width: 150px;
    margin: auto; 
}

.spanTd {
    width: 40px;
    text-align: left;
}

.textTd {
    width: 40px;
    text-align: right;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigationButton {
    width: 20%;
    min-width: 300px;
    border-radius: 1000px;
    background-color: #bbb;
    color: white;
    font-size: 20px;
    height: 2em;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.holdingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}